body {
  /*background: url(Torontotestpic.jpg);
  background-size: cover;*/
  padding: 0;
  margin: 0;
}
div.container {
  width: 800px;
  background: rgba(0,0,0,0.5);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 25px;
}
h2 {
  color: red;
}
p#primary {
  color: black;
}
img.profilepic {
  width: 200px;
}
